zsh-update
work.*.sh
gitconfig.work*
gitconfig.hack
gitconfig.*
.cask
ac-comphist.dat
*.eld
.persistent-scratch
ido.last
TAGS
\#*
places
saves
backups
auto-save-list
SessionDesktop.el
eshell
smex-items
tramp
ensime
elpa
request
url
screenlog.*
employer.d
dayjob.d
.litable-lists.el
vendor
