zsh-update
work.*.sh
gitconfig.work*
gitconfig.hack
gitconfig.*
.cask
ac-comphist.dat
*.eld
.persistent-scratch
ido.last
TAGS
\#*
places
saves
backups
auto-save-list
SessionDesktop.el
eshell
smex-items
tramp
ensime
elpa
request
url
screenlog.*
employer.d
dayjob.d
.litable-lists.el
bookmarks
tutorial
.hl-save
site-lisp
rake.cache
games
emacs.d/vendor/swank-js
transient/
emacs.d/cache/
emacs.d/elpy/
emacs.d/snippets/org-mode/feedback
emacs.d/snippets/org-mode/assignment
emacs.d/org-roam.db
